body{
    margin: 0;
    font-family: sans-serif;
}
.logo{
    text-decoration: none;
    margin: 1rem;
    text-transform: uppercase;
    color:red;
    font-size: 2rem;
    
}
.container{
background-image: url(./image/slider-6.jpg);
height: 100vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
h1{
    color: aliceblue;
    font-size: 5rem;
    font-weight: 700;
      
}
.text{
    margin:2rem 5%;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   transition: background-color 0.4s;

}
.navbar ul{
    display: flex;
    list-style: none;

}
a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
}
a:hover{
    color: red;
}
.navbar.active{
    background-color: black;
}
.navbar.active a{
    color: aliceblue;
}
